@model IEnumerable<SayaGym.Models.Usuario>

@{
    ViewData["Title"] = "Listado de usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear nuevo</a>
</p>
<form asp-action="Buscar">
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger col" role="alert">
            @TempData["error"]
        </div>
    }
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group mb-3">
                <input type="number" class="form-control" name="cedulaBuscador" placeholder="Buscar Cedula" aria-label="Cedula" aria-describedby="button-addon2">
                <button type="submit" class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
            </div>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contraseña)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teléfono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dirección)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Peso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estatura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IMC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Objetivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RolTexto)
                    </td>
                    <td>
                        @if (item.Rol != 0)
                        {
                            @Html.DisplayFor(modelItem => item.Contraseña)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teléfono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dirección)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estatura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IMC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObjetivoTexto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td class="td-actions">

                        @if (item.Rol != 0)
                        {

                            @Html.ActionLink("Editar", "Edit", new { id = item.IdUsuario }) <br />
                            @Html.ActionLink("Detalles", "Details", new { id = item.IdUsuario })<br />
                            <a href="javascript:void(0)" onclick="abrirModalEliminar(@item.IdUsuario)">Eliminar</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="alertaModal" tabindex="-1" aria-labelledby="alertaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertaModalLabel">¡Alerta!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idClienteEliminar" />
                <p>¿Seguro que deseas eliminar este usuario?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="eliminarCliente()">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function abrirModalEliminar(idClienteEliminar) {
        document.querySelector("#idClienteEliminar").value = idClienteEliminar;
        var myModal = new bootstrap.Modal(document.getElementById('alertaModal'))
        myModal.show();
    }

    function eliminarCliente() {
        var myModal = new bootstrap.Modal(document.getElementById('alertaModal'))
        let IdCliente = document.querySelector("#idClienteEliminar").value;
        let Url = '@Url.Action("Delete", "Users")' + '/' + IdCliente;
        location.href = Url;
        myModal.hide();
    }

</script>
